:root {
  --bg-color-black: #0f0f13;
  --bg-color-blue: #242e50;
  --color-white-low-opacity: rgba(255, 255, 255, 0.05);
  --color-shadow: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}
